* {
	padding:	0;
	margin: 	0;
}

body {
	background-color: #F9F6F7;
}

h1 {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 28px;
}

header {
	position:	fixed;
	background-color: #EEA525;
	width:		100%;
	height:		45px;
	top:		0px;
	background-image: linear-gradient(#EEA525, #E2B938);
	font-family: 'Roboto Slab', serif;
	z-index: 	1;
}

header * {
	padding-left: 10px;
	padding-right: 10px;
}

header h1 {
	height:	100%;
	font-family: 'Roboto Slab', serif;
}

header h1::before {
    content: '';
    display: inline-block;
    vertical-align: middle;  
    height: 100%;
}

nav {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
}

#content {
	margin-top: 50px;
}

table {
	width: 95%;
	border-collapse:	collapse;
	margin: auto auto 20px auto;
}

th#month-header {
	padding-left: 10px;
	font-weight: normal;
	font: icon;
	font-size: 36px;
	padding-bottom: 15px;
}

tr#weekdays {
	font: icon;
	letter-spacing: 1.5px;
	font-size: 14px;
}

tr#weekdays th {
	padding-bottom: 10px;
}

td {
	border:	1px solid black;
	padding:	1%;
	vertical-align: top;
	width: 		100;
	height: 	100;
	font-size: 12px;
	font-family: sans-serif;
}

td:hover {
	background-color: #E0E0CD;
}

td.today {
	border:	2px solid red;
}

.entry_icon {
	width: 15px;
	float: right;
}

.wrapper-dropdown {
	position:	relative;
	padding:	10px;
	outline:	none;
	cursor:		pointer;
	min-width:  100px;
}

.wrapper-dropdown .dropdown {
	position:	absolute;
	top:		100%;
	right:		0;
	min-width:  100px;
	opacity:	0;
	pointer-events:	none;
}

.wrapper-dropdown .dropdown li a {
	display: block;
	text-decoration: none;
	padding: 20px 0 20px 0;
}

.wrapper-dropdown .dropdown li:hover a {
	text-transform: uppercase;
}

.wrapper-dropdown.active,
.wrapper-dropdown.active .dropdown {
	opacity: 1;
	pointer-events:	auto;
	background-color: #F0E06E;
}

ul.dropdown {
	list-style-type: none;
}

#entry-textarea, .redactor_box {
	background-image: url('linedpaper.png');
	width:				80%;
	min-width:			300px;
	margin: 20px auto 10px auto;
	line-height: 		1.5;
	min-height: 		300px;
	font-family: 'Noto Sans', sans-serif;
	line-height: 		2;
	display: 	block;
	outline: 	none;
}

#entry-textarea:not(.redactor_editor), div.redactor_box {
	padding:			20px;
	border: 15px solid rgba(174, 166, 159, 0.18);
}

span#entry-header {
	display: block;
	font-size: 32px;
	font-family: monospace;
	width: 	80%;
	margin: 100px auto 10px auto;
}

input#submit-button {
	margin-left: 10%;
	width: 70px;
	border: none;
	border-radius: 5px;
	height: 30px;
	letter-spacing: 5;
	background: rgba(177, 184, 163, 0.41);
	outline: none;
	text-align: 	center;
}

input#submit-button:hover {
	background: rgba(177, 184, 163, 1);
}

.right-triangle, .left-triangle {
	height: 0;
	width: 0;
	border-width: 15px 0 15px 15px;
	border-color: transparent black;
	border-style: solid;
	display: inline-block;
	float:	right;
}

.left-triangle {
	border-width: 15px 15px 15px 0;
	float:	left;
}
