$def with (days)


$def makeEntry(d):
	<span id = 'entry-header'>$calmonth[day.date_t.month] $day.date_t.day</span>
	<form action="/date" method="POST">
	    <div id="entry-textarea">
	    		$:d.entry
	    </div>
	    <textarea id="hiddeninput" name="entry" style="display: none;"></textarea>
	    <input id ="submit-button" type="submit" value="SAVE" style="display: none;"> 
	</form>

$for day in days:
	$if day and day.hasEntry:
		$:makeEntry(day)

<script type="text/javascript">

    jQuery(function () {

    	jQuery('#entry-textarea').click(function() {
    		jQuery('#entry-textarea').redactor();
    		jQuery('#submit-button').show();
    	});

    	jQuery('#submit-button').click(function() {
    		var entry_text = jQuery('#entry-textarea').html();
    		// checks for actual text and not just tags
    		// needs testing
    		if (entry_text.match('[^<>]\\s*(\\w)+[\\s\\w]*[^<>]') != null) {
	    		jQuery('#hiddeninput').val(entry_text);
	    		jQuery("#entry-textarea").destroyEditor();
	            jQuery('#submit-button').hide();
        	}
    	});

        jQuery(document).mouseup(function(e) {
        	jQuery('.wrapper-dropdown').removeClass('active');
        	jQuery('#submit-button').show();

        	// !!! removes redactor on clicking outside. sadly does not make sense 
        	// when there is a save button

      //   	var container = jQuery('.redactor_box');
		    // if (container.length != 0 && container.has(e.target).length == 0)  
		    // {		        
      //       	jQuery("#entry-textarea").destroyEditor();
      //       	jQuery('#submit-button').hide();
		    // }
        });
    });

</script>
