$def with (content, path=".")

<html>
	<head> 
		<title>Orange Eternal Waterbird</title>
		<link rel="shortcut icon" href="$path/static/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="$path/static/main.css">
		<script type="text/javascript" src="$path/static/jquery-2.1.1.min.js"></script>

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>

        <!-- Redactor -->
        <link rel="stylesheet" href="$path/static/redactor/redactor/redactor.css" />
        <script src="$path/static/redactor/redactor/redactor.js"></script>

		<script type="text/javascript">
            function DropDown(el) {
                this.dd = el;
                this.placeholder = this.dd.children('span');
                this.opts = this.dd.find('ul.dropdown > li');
                this.val = '';
                this.index = -1;
                this.initEvents();
            }

            DropDown.prototype = {
                initEvents : function() {
                    var obj = this;

                    obj.dd.on('click', function(event) {
                        jQuery('.wrapper-dropdown').removeClass('active');
                        jQuery(this).addClass('active');
                        return false;
                    });

                    obj.opts.on('click', function() {
                        var opt = jQuery(this);
                        obj.val = opt.text();
                        obj.index = opt.index();
                        obj.placeholder.text(obj.val)
                        event.stopPropagation();
                    });
                },

                getValue : function() {
                    return this.val;
                },

                getIndex : function() {
                    return this.index;
                }
            }

            jQuery(function () {
                var dds = jQuery.find('.wrapper-dropdown');
                for (i=0; i<dds.length; i++) {
                    var dd = new DropDown(jQuery(dds[i]));
                }


                jQuery(document).click(function(event) {
                    jQuery('.wrapper-dropdown').removeClass('active');
                });
            });


            jQuery(document).ready(function() {

                if ($session.year == $session.curr_year && $session.month == $session.curr_month) {
                    jQuery('#'+ $session.curr_day).addClass('today');
                }

                jQuery('td').click(function() {
                    // var year = jQuery('table').attr('id').match('\\d{4}');
                    // var month = jQuery('table').attr('id').match('\\d{1,2}\$');
                    window.location.replace('/date?date='+$session.year+'-'+$session.month + '-' + jQuery(this).attr('id'));
                });
            });
            
        </script>
	</head>
	<body>
	    <header>
	        <h1> Waterbird </h1>
	        <nav>
                <div id ='date-dd' class='wrapper-dropdown'>
                    <span> Go to </span>
                    <ul class='dropdown'>
                        <li><a href='/date?date=$session.curr_year-$session.curr_month-$session.curr_day'>Today</a></li>
                        <li><a href='/month'>Month View</a></li>
                        <li><a href='#'>
                            <form action="/date" method="get">
                                <input id='get-date-input' name='date' type="text" value='2014-07-14'/>
                                <input id='get-date-submit' type="submit" />
                            </form>
                        </a></li>
                    </ul>
                </div>

	            <div id ='user-dd' class='wrapper-dropdown'>
	                <span> User </span>
	                <ul class='dropdown'>
	                    <li><a href='/entries'>View all entries</a></li>
	                    <li><a href='#'>Settings</a></li>
	                    <li><a href='#'>Log out</a></li>
	                </ul>
	            </div>
	            <div id ='tasks-dd' class='wrapper-dropdown'>
	                <span> Tasks </span>
	                <ul class='dropdown'>
	                </ul>
	            </div>
	        </nav>
	    </header>
		<div id = 'content'>
			$:content
		</div>
	</body>
</html>