$def with (month)

	<table id = 'calendar $month.year-$month.month'>
		<tr>
			<th id='month-header' colspan="7">$calmonth[month.month]</th>
			<a href='/prev'> <div class='left-triangle'></div> </a>
			<a href='/next'> <div class='right-triangle'></div> </a>
		</tr>
		<tr id='weekdays'>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>

		$ i = 0
		$for day in month.days:
			$if i == 0:
				<tr>
			$if day == False:
				<td id = 'blank'> </td>
			$else:
				<td id = $day.date_t.day> $day.date_t.day 
				$if day.hasEntry:
					<img src='./static/favicon.ico' class='entry_icon' id='$day.date_t.day'>
				</td>

			$if i == 6:
				</tr>
				$ i = 0
			$else:
				$ i += 1

	</table>

<script type='text/javascript'>
	function MyToolTip(el) {
		this.tt = el;
		this.initEvents();
	} 

	MyToolTip.prototype = {
		initEvents: function() {
			var obj = this;
			var tooltip = jQuery('<div class=\'tooltip\'> AHHHHHHHH tooltip. </div>')
			tooltip.appendTo('body')
			var iconPosition = obj.tt.position();

			tooltip.css({
				top: iconPosition.top - tooltip.outerHeight(),
				left: iconPosition.left,
				position: 'absolute', 
			});		

			obj.tt.hover(function() {
				tooltip.addClass('active');

			}, function() {
				// mouseleave
				tooltip.removeClass('active');

			})
		}
	};
		
	jQuery(function() {
			//var tt = new MyToolTip(jQuery('#9 > .entry_icon'))

			var icon_list = jQuery.find('.entry_icon');
			for (i=0; i<icon_list.length; i++) {
				var tt = new MyToolTip(jQuery(icon_list[i]));
			}
	});


</script>