$def with (cal)

	<table id = 'calendar $session.year-$session.month'>
		<tr>
			<th id='month-header' colspan="7">$calmonth[int(session.month)]</th>
			<a href='/prev'> <div class='left-triangle'></div> </a>
			<a href='/next'> <div class='right-triangle'></div> </a>
		</tr>
		<tr id='weekdays'>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
		</tr>

		$for week in cal:
			<tr>
			$for day in week:
				$if int(day) == 0:
					<td id = 'blank'> </td>
				$elif int(day) >= 10:
					<td id = $day> $day </td>
				$else:
					<td id = 0$day> $day </td>
			</tr>
	</table>
